Repository CaffeineCoderz/Fungorium, pull requests merged in 2025-04, with the labels that each got.

#151 Check changes
  data/createConfig.txt
  data/setConfig.txt
  data/statusAll.txt
  data/tryAllSetCommands.txt
  src/commands/CommandProcessor.java
  src/model/fungus/FungusSpecies.java
  src/model/insect/InsectSpecies.java
Labels: documentation, enhancement, Commands

#160 GameLogic start
  .github/workflows/build.yml
  src/commands/CommandProcessor.java
  src/logic/GameLogic.java
  src/main.java
  src/model/fungus/FungusThread.java
  src/model/tektonTypes/Tekton.java
Labels: GameLogic

#163 Csökönyi branch
  data/expected/13-InsectCutTest.txt
  data/expected/14-SlowSporeConsumeTest.txt
  data/expected/15-FasSporecConsume.txt
  data/expected/16-StunSporeConsumeExpected.txt
  data/expected/17-DisableCutConsume.txt
  data/expected/18-BreakTekton.txt
  data/expected/19-KillStunned_NBG_expected.txt
  data/expected/20-KillStunned_BGexpeected.txt
  data/expected/21-ThreadNoBody.txt
  data/expected/22-MultiplyInsectConsume.txt
  data/expected/23-threadNoBody-FeedTekton_expected.txt
  data/expected/25-InsectDecreasingTekton.txt
  data/expected/Insect_move.txt
  data/expected/SporulateSucces.txt
  data/expected/Sporulate_Further.txt
  data/expected/Sporulate_LastSporulate.txt
  data/expected/Sporulate_UnSucces.txt
  data/expected/growbody_AlreadyBody.txt
  data/expected/growbody_NotEnoughSpore.txt
  data/expected/growbody_OnlyThreadTekton.txt
  data/expected/growbody_Succes.txt
  data/expected/growthread_DecomposingTekton.txt
  data/expected/growthread_Def.txt
  data/expected/growthread_OneThreadtekton.txt
  data/tests/13-InsectCutTest.txt
  data/tests/14-SlowSporeConsumeTest.txt
  data/tests/15-FasSporecConsumeTest.txt
  data/tests/16-StunSporeConsumeTest.txt
  data/tests/17-DisableCutConsumeTest.txt
  data/tests/18-BreakTekton.txt
  data/tests/19-KillStunned_NBG.txt
  data/tests/20-KillStunned_BG.txt
  data/tests/21-ThreadNoBody.txt
  data/tests/22-MultiplyInsectConsumetest.txt
  data/tests/23-threadNoBody-FeedTekton.txt
  data/tests/25-InsectDecreasingTekton_test.txt
  data/tests/Sporulate_Further.txt
  data/tests/Sporulate_Succes.txt
  data/tests/Sporulate_UnSucces.txt
  data/tests/growbody_AlreadyBody.txt
  data/tests/growbody_NotEnoughSpore.txt
  data/tests/growbody_OnlyThreadTekton.txt
  data/tests/growbody_Succes.txt
  data/tests/growthread_DecomposingTekton.txt
  data/tests/growthread_Def.txt
  data/tests/growthread_OneThreadtekton.txt
  data/tests/insect_Move.txt
  data/tests/sporulate_LastSporulate.txt
Labels: Test

#170 Add choosing between options on main
  src/commands/CommandProcessor.java
  src/commands/Tester.java
  src/logic/GameLogic.java
  src/main.java
  src/model/insect/InsectSpecies.java
Labels: Test, Commands, GameLogic

#173 Daivakai
  src/model/fungus/FungusBody.java
  src/model/fungus/FungusSpecies.java
  src/model/fungus/FungusThread.java
  src/model/insect/Insect.java
  src/model/insect/InsectSpecies.java
  src/model/sporeTypes/DisableCutSpore.java
  src/model/sporeTypes/FastSpore.java
  src/model/sporeTypes/MultiplyInsectSpore.java
  src/model/sporeTypes/SlowSpore.java
  src/model/sporeTypes/Spore.java
  src/model/sporeTypes/StunSpore.java
  src/model/tektonTypes/DecomposingTekton.java
  src/model/tektonTypes/DecreasingTekton.java
  src/model/tektonTypes/FeedThreadTekton.java
  src/model/tektonTypes/OneThreadTekton.java
  src/model/tektonTypes/OnlyThreadTekton.java
  src/model/tektonTypes/Tekton.java
Labels: Fungus, Insect, Tekton, Spore, Remove

#207 Growbody bug
  data/tests/growbody_Succes.txt
  src/model/fungus/FungusSpecies.java
Labels: bug

#213 Remove cmdproc option, resolve compile err, add sysout for non hungarian chars warn
  .github/workflows/build.yml
  src/logic/GameLogic.java
  src/main.java
  src/model/fungus/FungusSpecies.java
  test/Tests.java
Labels: bug
